body {
    background-image: url(/image/animated-cartoon-blue-sky-with-white-clouds_vj92cw5je__F0000-2.png);
    background-repeat: no-repeat;
    width: 100%;
}
h1{
    font-size: 100px;
    text-align: center;
}
#input{
    padding:10px 20px;
    margin: 5px;
    background: transparent;
    border-radius: 5px;
}
#btn{
    padding: 10px;
    color: white;
    background: black;
}
.input-div{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.result-1{
    background: transparent;
    margin: 30px;
    text-align: center;
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 0px 30px;
    background:transparent;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}